@tailwind base;

@layer base {
  :root {
    --background: 180 15% 95%;
    --foreground: 0 0% 16%;

    --card: 180 14% 92%;
    --card-foreground: 0 0% 16%;

    --popover: 240 100% 20%;
    --popover-foreground: 350 80% 49%;

    --primary: 157 94% 27%;
    --primary-foreground: 0 0% 100%;
    --primary-tint-200: 150 40% 85%;

    --secondary: 220 13.04% 90.98%;
    --secondary-foreground: 0 0% 16%;

    --muted: 220 13.04% 90.98%;
    --muted-foreground: 0 0% 0%;

    --accent: 150 40% 85%;
    --accent-foreground: 0 0% 16%;

    --destructive: 210 100% 47%;
    --destructive-foreground: 291 80% 52%;

    --error: 1.88 100% 50%;
    --error-foreground: 1.88 100% 50%;

    --border: 0 0% 87.84%;
    --input: 0 0% 87.84%;
    --ring: 157 94% 27%;

    --radius: 0.6875rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-primary bg-background text-foreground;
  }

  /* ------------------------------ custom input ------------------------------ */
  input[type="radio"]:checked + label .outer > .inner {
    @apply !opacity-100 !visible;
  }

  input[type="radio"]:checked + label .outer {
    @apply !rounded-full;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    appearance: none;
  }

  /* --------------------------------- header --------------------------------- */

  .header {
    @apply h-16 md:h-[88px];
  }

  /* -------------------------------- container ------------------------------- */
  .container-body {
    @apply mx-auto w-full max-w-[1320px] px-5;
  }

  .container-content {
    @apply mx-auto w-full max-w-[940px] px-5;
  }

  /* --------------------------------- heading -------------------------------- */

  .heading-primary {
    @apply text-4xl md:text-[55px] font-extrabold leading-[44px] md:leading-[60px] font-secondary;
  }

  .heading-secondary {
    @apply text-2xl md:text-4xl font-bold text-foreground leading-8 md:leading-[43px] font-secondary;
  }

  .heading-tertiary {
    @apply text-lg md:text-2xl font-bold text-foreground leading-[22px] md:leading-[31px] font-secondary;
  }

  /* ------------------------------ text classes ------------------------------ */
  .text-small {
    @apply text-xs md:text-sm font-normal leading-6 text-foreground;
  }

  .text-medium {
    @apply text-xs md:text-base font-normal leading-6 text-foreground;
  }

  .text-large {
    @apply text-sm md:text-lg leading-[22px] md:leading-[29px] text-foreground;
  }

  /* ---------------------------------- links --------------------------------- */
  .anchor {
    @apply flex items-center gap-2 capitalize text-sm md:text-base font-medium text-primary hover:text-secondary w-max transition duration-300;
  }

  .anchor-lg {
    @apply flex items-center gap-2 capitalize text-base md:text-lg font-medium underline underline-offset-8 leading-[23px] text-primary hover:text-secondary w-max transition duration-300;
  }

  /* ----------------------------- general classes ---------------------------- */
  .text-shadow {
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  }

  /* --------------------------------- navbar --------------------------------- */
  .navbar {
    @apply absolute top-full left-0 right-0 lg:relative shadow-lg lg:shadow-none;
  }

  .nav-links {
    @apply px-4 xl:px-6 py-4 xl:py-5 text-sm font-bold leading-[18px] text-foreground hover:bg-secondary inline-block transition-colors duration-300;
  }

  /* -------------------------------- scrollbar ------------------------------- */
  ::-webkit-scrollbar {
    @apply w-[15.5px];
  }

  ::-webkit-scrollbar-track {
    @apply rounded-[10px] shadow-[inset_0_0_10px_10px_transparent] border-[3.5px] border-solid border-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-[10px] shadow-[inset_0_0_10px_10px] shadow-[#747474]/80 hover:shadow-[#747474] border-[3.5px] border-solid border-transparent transition-colors duration-300;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@tailwind components;
@tailwind utilities;
